<!DOCTYPE html>
<html>
  <head>
    <title>Ajaxtodo</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='row'>
    <nav class="top-bar">
   <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">To-Do List </a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/priorities/new">Priorities</a></li>
      <li><a href="/tasks/new">Tasks</a></li>

    </ul>
  </section>
</nav>
  
      <%= yield %>
    </div>
    <!-- Foundation initialization javascript -->
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
